@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #fcfcfc;
  --foreground: #171717;
  --highlight: rgba(0, 0, 0, 0.1);
  --dropDownGround: #ffffff;

  --drop-list-max-height: 85vh;

  --toolbar-height: 3.5rem;

  --guide-expand-width: 260px;
  --guide-collapse-width: 80px;
  --guide-icon-font-size: 10px;
}

.dark:root {
  --background: #0a0a0a;
  --foreground: #fcfcfc;
  --highlight: rgba(255, 255, 255, 0.1);
  --dropDownGround: #282828;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-button-hide::-webkit-scrollbar-track {
  margin: 10px
}

.scrollbar-button-hide::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.scrollbar-button-hide::-webkit-scrollbar-thumb {
  border-radius: 16px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  background-color: #555;
}